{% from "_includes/forms" import textField, lightswitchField, selectField %}

{{ textField({
     label: "Merchant Id"|t('commerce'),
     id: 'merchantId',
     class: 'ltr',
     name: 'merchantId',
     value: gateway.merchantId,
     errors: gateway.getErrors('merchantId')
 }) }}

  {{ textField({
     label: "API Key"|t('commerce'),
     id: 'merchantSecret',
     class: 'ltr',
     name: 'merchantSecret',
     value: gateway.merchantSecret,
     errors: gateway.getErrors('merchantSecret')
 }) }}

 {{ lightswitchField({
     label: "Test mode?"|t('commerce'),
     name: 'testMode',
     on: gateway.testMode,
     errors: gateway.getErrors('testMode'),
 }) }}